.glider-contain {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .glider {
    margin: 0 auto;
    position: relative;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    transform: translateZ(0);
  }
  .glider-track {
    transform: translateZ(0);
    width: 00%;
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 1;
    justify-content: space-around;
  }
  .glider.draggable {
    user-select: none;
    cursor: -webkit-grab;
    cursor: grab;
  }
  .glider.draggable .glider-slide img {
    user-select: none;
    pointer-events: none;
  }
  .glider.drag {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  .glider-slide {
    user-select: none;
    justify-content: center;
    align-content: center;
    width: 100%;
  }
  .glider-slide img {
    max-width: 100%;
  }
  .glider::-webkit-scrollbar {
    opacity: 0;
    height: 0;
  }
  .glider-prev,.glider-next {
    display: none;
    user-select: none;
    position: absolute;
    outline: none;
    background: none;
    padding: 0;
    z-index: 2;
    font-size: 40px;
    text-decoration: none;
    border: 0;
    top: 38vh;
    cursor: pointer;
    color: white;
    opacity: 1;
    line-height: 1;
    transition: opacity .5s cubic-bezier(.17,.67,.83,.67),
                color .5s cubic-bezier(.17,.67,.83,.67);
  }
  .glider-prev:hover,
  .glider-next:hover {
    color: #d21404;
  }
  .glider-next {
    right: 1.5vw;
    left: auto;
  }
  .glider-prev {
    left: 1.5vw;
    right: auto;
  }
  .glider-next.disabled,
  .glider-prev.disabled {
    opacity: 0;
    cursor: default;
  }
  .glider-slide {
    min-width: 150px;
  }
  .glider-hide {
    opacity: 0;
  }
  .glider-dots {
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }
  .glider-dot {
    background: none;
    border: 0;
    padding: 0;
    user-select: none;
    outline: none;
    display: block;
    cursor: pointer;
    color: white;
    background: white;
    width: 8vw;
    height: .5vh;
    margin: 2vh 0vw;
    transition: all .2s ease-in-out;
  }


  .glider-dot.active{
    height: 1.5vh;
    background-color: #d21404;
  }
  @media(max-width: 36em){
    .glider::-webkit-scrollbar {
      opacity: 1;
      -webkit-appearance: none;
      width: 7px;
      height: 3px;
    }
    .glider::-webkit-scrollbar-thumb {
      opacity: 1;
      border-radius: 99px;
      background-color: rgba(156, 156, 156, 0.25);
      box-shadow: 0 0 1px rgba(255,255,255,.25);
    }
  }

  @media(min-width: 1025px){
    
    .glider-dot {
      background: none;
      border: 0;
      padding: 0;
      user-select: none;
      outline: none;
      display: block;
      cursor: pointer;
      color: white;
      background: white;
      width: 4vw;
      height: 1vh;
      margin: 2vh 0vw;
      transition: all .2s ease-in-out;
    }

    .glider-dot:active,
    .glider-dot:focus,
    .glider-dot:hover{
      height: 2vh;
      background-color: #d21404;
    }

    .glider-prev,.glider-next{
      display: block;
    }
  }