.containerSlider {
    display: flex;
    overflow: auto;
    margin: 50% 0%;
    position: relative;  
    width: 100%; 

    &::-webkit-scrollbar {
        display: none;
    }
}

.slide {
    flex: 0 0 auto;
    width: 90%;
    height: 20rem;
    border: 2px solid white;
    margin: 4.5%;
    position: relative;
}